# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/treasure-island/node_modules
/treasure-island/.pnp
/treasure-island.pnp.js

# testing
/treasure-island/coverage

# production
/treasure-island/build

# misc
/treasure-island.DS_Store
/treasure-island.env.local
/treasure-island.env.development.local
/treasure-island.env.test.local
/treasure-island.env.production.local

/treasure-islandnpm-debug.log*
/treasure-islandyarn-debug.log*
/treasure-islandyarn-error.log*
